services:
  postgres:
    image: postgres:16
    environment:
      POSTGRES_USER: joshua
      POSTGRES_PASSWORD: rcr13121
      POSTGRES_DB: text_editor_db
    ports:
     - "5432:5432"

    volumes:
      - pgdata:/var/lib/postgresql/data


volumes:
  pgdata:
